.banner {
    background-color: var(--primary-color);
    height: 365px;
    border-bottom: 10px solid #000;
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 50px;
}

.banner .wraper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around; 
}

.banner .img__banner {
    width: 250px;
}