
.progress-bar {
    box-sizing: border-box;
    height: 40px;
    border: 5px solid black; 
}

.progress-bar::-webkit-progress-value {
    background-color: yellow;
}

.progress-bar::-moz-progress-bar {
    background-color: yellow;
}