.title{
    font-family: var(--font);
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.skill-tec {
    display: flex;
    align-items: center;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 67px;
    box-shadow: -3px 3px 0 #000;
    
    
    
}

.skill-tec .title {
    margin-bottom: 5px;
}

.skill-tec .position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}