header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 10px solid #212529;
}

a#link-img-logo::before {
    display: none;
}
a#link-img-logo {
    margin-right: 0;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 18px;
    font-family: var(--font), Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
}

a::before {
    display: inline-block;
    content: '';
    background-color: var(--tertiary-color);
    margin-right: 8px;
    width: 10px;
    height: 10px;
    box-shadow: 3px 3px 0 black;
    border-radius: 50px;
    transition: .3s ease-in-out;
}
a:hover::before {
    transform: translateY(2px) translateX(2px);
    box-shadow: 1px 1px 0 black;
}

#btn-menu {
    display: inline-block;
    background-color: var(--tertiary-color);
    color: #000;
    /* padding: 10px 15px; */
    height: 45px;
    line-height: 45px; /*técnica de centralização*/
    padding: 0 20px;
    border-radius: 50px;
    box-shadow: 6px 6px 0 var(--shadow);
    transition: .1s ease-in-out;
}
#btn-menu:hover {
    transform: translateY(2px) translateX(2px);
    /* transform: translateX(6px); */
    box-shadow: 1px 2px 0 black;
}
#btn-menu::before {
    display: none;
}

.title {
    font-family: var(--font), Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    cursor: pointer;
}
.title p{
    margin-top: 6px;
}
#name-logo {
    font-weight: 700;
    font-size: 22px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 60px;
    margin-left: 30px;
    border-radius: 50px;
    box-shadow: -6px 3px 0 var(--shadow);
    transition: .1s ease-in-out;
}

.logo img:hover {
    transform: translateY(2px) translateX(-2px);
    box-shadow: -2px 1px 0 var(--shadow);
}