header {
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 10px solid #212529;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

a#link-img-logo::before {
    display: none;
}

a#link-img-logo {
    margin-right: 0;
}

a {
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font), Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-right: 30px;
    text-decoration: none;
}

a::before {
    background-color: var(--tertiary-color);
    border-radius: 50px;
    box-shadow: 3px 3px 0 black;
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 8px;
    transition: .3s ease-in-out;
    width: 10px;
}
a:hover::before {
    box-shadow: 1px 1px 0 black;
    transform: translateY(2px) translateX(2px);
}

#btn-menu {
    background-color: var(--tertiary-color);
    border-radius: 50px;
    box-shadow: 6px 6px 0 var(--shadow);
    color: #000;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    transition: .1s ease-in-out;
}
#btn-menu:hover {
    box-shadow: 1px 2px 0 black;
    transform: translateY(2px) translateX(2px);
}

#btn-menu::before {
    display: none;
}

.title {
    color: var(--secondary-color);
    cursor: pointer;
    font-family: var(--font), Arial, Helvetica, sans-serif;
}
.title p{
    margin-top: 6px;
}
#name-logo {
    font-size: 22px;
    font-weight: 700;
}

.logo {
    align-items: center;
    display: flex;
    gap: 10px;
}
.logo img {
    border-radius: 50px;
    box-shadow: -6px 3px 0 var(--shadow);
    margin-left: 30px;
    transition: .1s ease-in-out;
    width: 60px;
}

.logo img:hover {
    box-shadow: -2px 1px 0 var(--shadow);
    transform: translateY(2px) translateX(-2px);
}